@import "setup";

$titlefont: 'UnifrakturCook', cursive;
$bodyfont: "le-monde-livre-std", serif;


img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

header {
	text-align: center;
	background-color: red;
	color: white;
	padding: 1rem 2rem;
	margin: 0;
	h1 {
		font-family: $titlefont;
		font-size: 6rem;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid white;
	}
	h3 {
		font-family: $bodyfont;
	}
}

#results a {
	margin: 0;
	text-decoration: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// padding: 15rem 2rem 2rem;
	// color: #ffffff;
	}

a.grid-item {
	float: left;
	&:first-of-type {
		width: 100%;
		h1 {
		text-transform: uppercase;
		}
	}
	&:nth-of-type(n+2) {
		width: 33.333333333%;	
	}
}

article {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 35rem;
	// padding: 17rem 2rem 1rem 2rem;
	font-family: $bodyfont;
}

.contentDiv {
	position: absolute;
	color: #ffffff;
	background-color: rgba(0,0,0,0.7);
	padding: 1rem;
	// width: 33.3333%;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	h1.articleTitle, 
	h3.articleAuthor, 
	p.articleDate {
		padding: 0;
		margin: 0;
	}

}


footer {
	clear: both;
	background-color: red;
	color: white;
	padding: 2rem;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $bodyfont;
	a {
		color: white;
	}
	p {
		margin: 0;
		padding-bottom: 1.4rem;
	}
}

@media (max-width: 767px) {
	a.grid-item:nth-of-type(n+2) {
		width: 100%;	
	}
}