article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; word-wrap: break-word; }

q { quotes: \201C \201D \2018 \2019; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0; }

input[type=search] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body, figure { margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

img { max-width: 100%; }

a { text-decoration: none; }

header { text-align: center; background-color: red; color: white; padding: 1rem 2rem; margin: 0; }

header h1 { font-family: "UnifrakturCook", cursive; font-size: 6rem; padding: 0; margin: 0; border-bottom: 1px solid white; }

header h3 { font-family: "le-monde-livre-std", serif; }

#results a { margin: 0; text-decoration: none; background-size: cover; background-repeat: no-repeat; background-position: center; }

a.grid-item { float: left; }

a.grid-item:first-of-type { width: 100%; }

a.grid-item:first-of-type h1 { text-transform: uppercase; }

a.grid-item:nth-of-type(n+2) { width: 33.333333333%; }

article { position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; height: 35rem; font-family: "le-monde-livre-std", serif; }

.contentDiv { position: absolute; color: #ffffff; background-color: rgba(0, 0, 0, 0.7); padding: 1rem; bottom: 1rem; left: 1rem; right: 1rem; }

.contentDiv h1.articleTitle, .contentDiv h3.articleAuthor, .contentDiv p.articleDate { padding: 0; margin: 0; }

footer { clear: both; background-color: red; color: white; padding: 2rem; margin: 0; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-family: "le-monde-livre-std", serif; }

footer a { color: white; }

footer p { margin: 0; padding-bottom: 1.4rem; }

@media (max-width: 767px) { a.grid-item:nth-of-type(n+2) { width: 100%; } }
