@import "setup";

$titlefont: "le-monde-livre-std", serif;
$bodyfont: "lemonde-sans",sans-serif;
$bernieblue: #011f5c;
$linkblue: #264992;
$americanred: #e70121;

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}


aside {
	clear: both;
	background-color: $bernieblue;
	color: white;
	margin: 0;
	padding: 1rem 2rem;
	position: fixed;
	width: 20%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: $bodyfont;
	color: white;
	margin: 0;
	a {
		color: white;
	}
	p {
		margin: 0;
		padding-bottom: 1.4rem;
	}
}

@media (max-width: 920px) {
	aside {
		height: auto;
		width: 100%;
		z-index: 100;
		flex-direction: row;
	}
}
@media (max-width: 700px) {
	.header {
		margin: 0 auto;
	}
}
.title {
	font-family: $titlefont;
	font-style: italic;
	width: 100%;
	display: block;
	padding-left: 0.6rem;
	border-bottom: 1px solid white;
	h1 {
		font-size: 5rem;
		font-weight: 400;
		padding: 0;
		margin: 0;
	}
}

@media (max-width: 1024px) {
	.title {
		padding-left: 0;
	}
}

@media (max-width: 920px) {
	.title {
		display: flex;
		flex-direction: row;
		padding-top: 2rem;
		margin-left: 0;
		padding-left: 1rem;
	}
}
@media (max-width: 700px) {
	.title {
		justify-content: center;
	}
}
@media (max-width: 340px) {
	.title {
		padding-left: 0;
	}
}

.the {
	font-weight: 400;
	font-size: 2.4rem;
	margin: 0;
	position: relative;
	top: 3.2rem;
}

@media (max-width: 1200px) {
	.the {
		font-size: 2.2rem;
	}
}
@media (max-width: 1024px) {
	.the {
		font-size: 2rem;
		top: 2.8rem;
	}
}
@media (max-width: 920px) {
	.the {
		font-size: 2.4rem;
		top: 0.4rem;
	}
}
@media (max-width: 455px) {
	.the {
		font-size: 2rem;
		top: 0.2;
	}
}
@media (max-width: 340px) {
	.the {
		font-size: 1.8rem;
		top: 0.2;
	}
}
h1.sanders {
	position: relative;
	left: 4rem;
}

@media (max-width: 1200px) {
	h1.sanders {
		font-size: 4.6rem;
	}
}
@media (max-width: 1024px) {
	h1.sanders {
		font-size: 3.8rem;
		left: 3.2rem;
	}
}
@media (max-width: 920px) {
	h1.sanders {
		font-size: 5rem;
		left: 0;
	}
}
@media (max-width: 455px) {
	h1.sanders {
		font-size: 3.8rem;
	}
}
@media (max-width: 340px) {
	h1.sanders {
		font-size: 3.4rem;
	}
}
h1.standard {
	position: relative;
	top: -1rem;
	left: 1rem;
}
@media (max-width: 1200px) {
	h1.standard {
		font-size: 4.6rem;
	}
}
@media (max-width: 1024px) {
	h1.standard {
		font-size: 3.8rem;
	}
}
@media (max-width: 920px) {
	h1.standard {
		font-size: 5rem;
		left: 1rem;
		top: 0;
	}
}
@media (max-width: 455px) {
	h1.standard {
		font-size: 3.8rem;
		left: 0;
	}
}
@media (max-width: 340px) {
	h1.standard {
		font-size: 3.4rem;
		left: 0.2rem;
	}
}
.tagline {
	font-family: $bodyfont;
	font-size: 1.4rem;
	font-weight: 400;
}
@media (max-width: 700px) {
	.tagline {
		text-align: center;
	}
}
.footer {
	font-size: 1.2rem;
	a {
		text-decoration: underline;
		&:hover {
			color: $americanred;
		}
	}
}
@media (max-width: 920px) {
	.footer {
		display: none;
	}
}
.wrapper {
	width: 80%;
	margin-left: 20%;
	position: relative;
}

@media (max-width: 920px) {
	.wrapper {
		width: 100%;
		margin-left: 0;
		margin-top: 139.219px
	}
}
@media (max-width: 340px) {
	.wrapper {
		width: 100%;
		margin-left: 0;
		margin-top: 136.219px
	}
}

#results a {
	margin: 0;
	text-decoration: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: $bodyfont;
}

article {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: $bodyfont;
}

.grid-sizer,
.grid-item {
	width: 33.333333333%;
}

@media (max-width: 700px) {
	.grid-sizer,
	.grid-item {
		width: 50%;
	}
}
@media (max-width: 520px) {
	.grid-sizer,
	.grid-item {
		width: 100%;
	}
}

.contentDiv {
	position: absolute;
	color: #ffffff;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8),rgba(0,0,0,1));
	padding: 1rem 2rem;
	bottom: 0rem;
	left: 0rem;
	right: 0rem;
}

.authorDate {
	display: flex;
	flex-direction: row;
	margin: 1rem 0;
}


.articleTitle, 
.articleAuthor, 
.articleDate {
		padding: 0;
		margin: 0;
		font-family: $bodyfont;
}

.articleTitle {
	font-size: 2rem;
	font-weight: 400;
	color: white;
	transition: all 3s ease;
	&:hover {
		text-decoration: underline;
	}
}

.articleAuthor {
		text-transform: uppercase;
		color: $linkblue;
		margin-right: 1rem;
		&:hover {
			color: $americanred;
		}
}

.splashPage {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	color: red;
	background-color: white;
	z-index: -1;
	width: 80%;
	margin-left: 20%;
	// position: relative;
}


@media (max-width: 920px) {
	.splashPage {
		width: 100%;
		margin-left: 0;
		margin-top: 139.219px
	}
}
@media (max-width: 700px) {
	.splashPage {
		width: 100%;
		margin-left: 0;
		margin-top: 136.219px
	}
}
.bernie {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.bernie {
		width: 50%;
		top: 2rem;
	}
}

@media (max-width: 920px) {
	.bernie {
		width: 45%;
		top: 2rem;
	}
}

@media (max-width: 850px) {
	.bernie {
		width: 50%;
		top: 2rem;
	}
}
@media (max-width: 700px) {
	.bernie {
		width: 55%;
		top: 2rem;
	}
}
@media (max-width: 600px) {
	.bernie {
		width: 55%;
		top: 3rem;
	}
}
@media (max-width: 520px) {
	.bernie {
		width: 60%;
		top: 2rem;
	}
}
@media (max-width: 400px) {
	.bernie {
		width: 75%;
		top: 3rem;
	}
}
@media (max-width: 320px) {
	.bernie {
		width: 80%;
		top: 3rem;
	}
}

.redLine {
	background-color: $americanred;
	width: 100%;
	height: 5rem;
	margin-bottom: 5rem;
}
.loadingTag {
	text-align: center;
	color: $bernieblue;
	font-family: $bodyfont;
	font-style: italic;
	font-size: 3rem;
}


footer {
	font-family: $bodyfont;
	font-size: 1.2rem;
	background-color: $bernieblue;
	color: white;
	margin: 0;
	padding: 1rem 2rem;
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;

}
@media (max-width: 920px) {
	footer {
		display: block;
	}
}
@media (max-width: 920px) {
	.footerContent {
		display: block;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		p {
			margin: 0;
		}
		a {
			text-decoration: underline;
			color: $linkblue;
		}
	}
}
@media (max-width: 700px) {
	.footerContent {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		p {
			margin-bottom: 1rem;
		}
	}
}